
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');
/* // font-family: 'Dosis', sans-serif; */
html {
    background-color: #a0ced9;
    display: flex;
    justify-content: center;
}

body{
    width: 700px;
    height: 500px;
    margin: 0 auto;
    border: 5px solid black;
    background-color: #ffc09f;
    /* background-color: rosybrown; */


}

#counter-top {
  background-color: #94aa31;
	position: absolute;
	width : 700px;
	height: 150px;
  margin-left: 0 px;
	margin-bottom: 0px;
	margin-top: 295px;

}

#togo-window{
  background-color: #c29810;
  border-radius: 20px;
  border: 2px solid rgb(255 251 248);
  border-top: 20px solid rgb(255 251 248);
	position: absolute;
	width : 698px;
	height: 180px;
	margin-top: 260px;
}

#music{
  align-self: center;
  background-color: #adf7b6;
  background-image: none;
  position:absolute;
  border: 3px solid;
  border-radius: 1pc;
  box-sizing: border-box;
  color: #584827;
  font-family: 'Dosis', sans-serif;

  outline: none;
  padding: .75rem;

  width: 145px;
  margin-top: 320px;
  margin-left: 510px;
  z-index: 900;


}
#restartGame {
  align-self: center;
  background-color: #adf7b6;
  position:absolute;

  border: 3px solid;
  border-radius: 1pc;
  box-sizing: border-box;
  color: #584827;
  display: inline-block;
  font-family: 'Dosis', sans-serif;
  outline: none;
  padding: .75rem;

  width: 145px;
  margin-top: 380px;
  margin-left: 510px;
}

