@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');
/* // font-family: 'Dosis', sans-serif; */


.header-nav-group{
  width: 698px;
  color: rgb(104, 65, 7);
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background: #ffee93;
  /* background: #d1cfe2; */
  display: flex;
    align-items: baseline;
        justify-content: space-around;
    border-bottom: #ac9e9e 5px solid;
    border-radius: 1pc;
}


#txt {
  color: rgb(104, 65, 7);

  font-family: 'Dosis', sans-serif ;
  display: block;
  padding: 20px 0px;
  font-size: 100px;
  text-shadow: 2px 2px #c48211;
}



.header-list > li {
  float: right;
  border-left: 1px solid #ccc;    
  display: flex;
    position: absolute;
}

.header-list > li:hover {
  background: #000;
}

.info{
  text-decoration: none;
}

.info > img{
  color:black
}