.header-nav-group{
  width: 698px;
  color: rgb(104, 65, 7);
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background: #d1cfe2;
  display: flex;
    align-items: baseline;
    justify-content: space-around;
}


#txt {
  color: rgb(104, 65, 7);

  font-family: monospace ;
  display: block;
  /* margin-left: 50px; */
  padding: 20px 0px;
  font-size: large;
}



.header-list > li {
  float: right;
  border-left: 1px solid #ccc;    
  display: flex;
    position: absolute;
}

.header-list > li:hover {
  background: #000;
}