@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');
/* // font-family: 'Dosis', sans-serif; */
#lives {
  align-self: center;
  background-color: #adf7b6;
  /* background-color: #d1cfe2; */
  background-image: none;

  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border: 3px solid;
  border-radius: 1pc;
  color: #584827;
  display: inline-block;
  font-family: 'Dosis', sans-serif;

  outline: none;
  padding: .75rem;

  position:absolute;
 margin-top: 380px;
    margin-left: 380px;
}