
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');
/* // font-family: 'Dosis', sans-serif; */
#score {
  align-self: center;
  background-color: #adf7b6;
  position:absolute;

  border: 3px solid;
  border-radius: 1pc;
  box-sizing: border-box;
  color: #584827;
  display: inline-block;
  font-family: 'Dosis', sans-serif;
  outline: none;
  padding: .75rem;

  width: 145px;
  margin-top: 320px;
    margin-left: 380px;
}



