@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

// font-family: 'Square Peg', cursive;
// font-family: 'Dosis', sans-serif;
#endgame_message{
    z-index: -1;
    font-family: 'Dosis', sans-serif;
    display: flex;
    flex-direction: column;
    border-radius: 1pc;
    margin-top: 100px;
        padding: 20px 50px;
    #message {
        padding: 10px;

    }
}

#id > p {
    font-family: 'Square Peg', cursive;
}